

#title h1 {
  font-size:36px;
  font-weight:bold;  
  color: #293347;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title p {  
  color: #293347;
  font-size:24px;
  line-height:50px;
}

#title {
  height:400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.avatar{
  height:180px;
  margin-top:30px;
}

