#card1 {
    background-color: transparent;
    border: solid;
    border-color: white;
    color: white
}

#btlogo {
    height: auto;
    max-width: 50px;
    padding-left: 10px;
}

#degree {
    font-style: italic;
}

#minor {
    font-style: italic;
}